.form-type-radios .rubric .form-type-radio {
    float: left;
    margin: 2px;
    padding: 10px;
    border: 1px solid #666;
    max-width: 17%;
    width: 17%;
    min-height: 150px;
}
.form-type-radios .description {
    clear: both;
}

.form-type-radios .rubric .pre-clicked {
    background: #d0dfd0;
}
.form-type-radios .rubric .form-type-radio:hover,
.form-type-radios .rubric .clicked {
    background: #e5ffe2;
}
